body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.summoner-search {
    max-width: 450px;
}

table.table {
    max-width: 200px;
    margin: auto;
}

.empty-search {
    font-style: italic;
    color: gray;
    user-select: none;
}

select.form-select {
    width: 100px;
}
