body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.lavel {
    width: 200px;
}
table.table {
    width: 30%;
    margin: auto;
}

p.empty-search {
    font-style: italic;
    color: gray;
    user-select: none;
}

select.form-select {
    width: 100px;
}
ul.test {
    justify-content: center;
    display: flex;
    color: white;
}
li {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
